table {
    position: static;
    width: 100%; /* tables should span the page width */
}

hr {
    border: 3px solid teal; /* horizontal line should be thick and teal */
    background-color: teal; /* needed to make line solid */
}

a:link {
    color: teal; /* unvisited links */
}

a:visited {
    color: teal; /* visited links, make same color as unvisited */
}

a:hover {
    color: white; /* invert color */
    background-color: teal; /* invert color */
    cursor: pointer; /* turn cursor into a pointer */
}

@font-face {
    font-family: "Roboto Slab";
    src: url("fonts/roboto-slab.ttf");
}

body {
    font-size: 18px; /* make text larger */
    font-family: "Roboto Slab", serif; /* use Roboto Slab font */
    max-width: 80ch; /* set maximum width for readability */
    line-height: 1.5em; /* not have consecutive lines too close together */
    overflow: scroll; /* always show scroll bar to stop contents shifting when scroll bar not present */
    margin: auto; /* automatically center text */
}

.dark {
    color: gray;
    background-color: black;
}

::selection {
    color: white; /* invert color when highlighting */
    background-color: teal; /* invert color when highlighting */
}

li {
    margin: 5px; /* space between list elements */
}

.date {
    color: gray; /* gray text */
    font-weight: bold; /* bold text */
}

.tags {
    font-size: 12px; /* smaller text */
    color: teal; /* teal text */
}
