table {
    width: 100%; /* tables should span the page width */
}

hr {
    border: 3px solid blue;
    background-color: blue;
}

a:link {
    color: blue;
}

a:visited {
    color: blue;
}

a:hover {
    color: white;
    background-color: blue;
    cursor: pointer;
}

body {
    font-family: monospace; /* use default monospace font */
    max-width: 75em; /* set maximum width for readability */
    line-height: 1.5em; /* not have consecutive lines too close together */
    margin-left: 10em; /* have some space on the left hand side of the text */
    margin-right: 10em; 
}

::selection {
    color: white;
    background-color: blue;
}