table {
    width: 100%; /* tables should span the page width */
}

hr {
    border: 3px solid red; /* horiztonal line should be thick and red */
    background-color: red; /* needed to make line solid */
}

a:visited {
    transition: color 1s, background-color 1s;
    color: red; /* visited links, make same color as unvisited */
    background-color: white;
}

a:link {
    transition: color 1s, background-color 1s;
    color: red; /* unvisited links */
    background-color: white;
}

a:hover {
    transition: color 1s, background-color 1s; /* color inversion transition when hovering */
    color: white; /* invert color */
    background-color: red; /* invert color */
}

body {
    font-family: 'DejaVu Sans Mono'; /* explicitly set font */
    max-width: 80ch; /* set maximum width for readability */
    line-height: 1.5em; /* not have consecutive lines too close together */
    overflow: scroll; /* always show scroll bar to stop contents shifting when scroll bar not present */
    margin: auto; /* automatically center text */
    font-size: 1.2em;
}

::selection {
    color: white; /* invert color when highlighting */
    background-color: red; /* invert color when highlighting */
}