<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
		        	<li><a href="/about">about</a></li>
					<li><a href="mailto:btrevett1@sheffield.ac.uk">email</a></li>
					<li><a href="https://github.com/bentrevett">github</a></li>
					
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div>
			<footer>
			</footer>
		</body>
	</html>
